{% extends 'ToDo/base.html' %}

{% block content %}
    <div class="row">
        <h1 class="col-xs-6">Your ToDo's</h1>
    </div>

    <div class="row">
        <ul>
            <div class="col-xs-4">
                {% for todo in object_list %}
                    <li>{{ todo.created }}: {{ todo.todo }} : <a href={% url 'todo:todo-done' todo.id %}>done</a></li>
                {% endfor %}
            </div>
        </ul>
    </div>

    <div class="row">
        &nbsp;<!--wanted a filler row-->
    </div>

    <div class="row">
        <div class="col-xs-6">
            <a href="{% url 'todo:todo-add' %}">add ToDo</a>
        </div>
    </div>

{% endblock %}
