{% load static %}

<html>
<head>
<title>jobDash Todo List</title>
<style type="text/css">
    body { font-family: Arial, Helvetica, sans-serif;
           color: black;
           background: #ffffff; }
    .error { color: red; }
</style>

    {% block styling %}
        <link rel="stylesheet" href="{% static 'bootstrap-3.2.0-dist/css/bootstrap.min.css' %}">
    {% endblock styling %}

    {% block javascript %}
        <script src="{% static 'jquery-1.11.1.js' %}"></script>
        <script src="{% static 'bootstrap-3.2.0-dist/js/bootstrap.js' %}"></script>
    {% endblock javascript %}

</head>
<body>
<p class="lead">Welcome, {{user.username|title}}. <a href="logout">Log out</a></p>

{% if error_msg %}
    <p class="error">{{ error_msg }}</p>
{% endif %}

<form class="form-inline" role="form" action="add" method="POST">
    <h2 class="lead">Add a todo:</h2>
    <table class="table-bordered table-condensed">
        <tr>
            <td class="col-xs-6 .col-md-4">Todo:</td>
            <td class="col-xs-12 col-sm-6 col-md-8"><input style="width: 250px;" type="text" name="title"></td>
        </tr>
        <tr>
            <td>Importance:</td>
            <td>
                <select name="importance" />
                    {% for key, value in importance %}
                        <option value="{{key}}">{{value}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>
                <select name="status" />
                    {% for key, value in status %}
                        <option value="{{key}}">{{value}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>
                 <textarea style="width: 250px;" name="description"></textarea>
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: right"><button class="btn btn-success" type="submit">Add</button></td>
        </tr>
    </table>
</form>

{% if todos %}
    <table class="table table-bordered table-striped">
    <tr><td>Delete</td><td>Status</td><td>Todo</td><td>Importance</td><td>Description</td></tr>
        {% for todo in todos %}
            <tr>
                <td><a href="delete/{{todo.id}}"><b>X</b></td>
                <td>{{todo.text_status}}</td>
                <td><a href="update/{{todo.id}}">{{todo.title}}</a></td>
                <td>{{todo.text_importance}}</td>
                <td>{{todo.short_description}}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
<p>You have nothing to do!</p>
{% endif %}

</table>
</body>
</html>
